/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  /* Estilização do cabeçalho */
 
  
  /* Estilos da seção principal */
  main {
    display: flex;
}
  
  /* Estilos do lado esquerdo */
  .left-side {
    width: 300px;
    padding: 2%;
    background: #40de63;
    color: #fff f;
    height: 100vh;
    text-align: center;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: fixed;
}
  .left-side h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .left-side p {
    font-size: 16px;
  }
  
  .right-side {
    margin-left: 300px;
    width: 100%;
    display: flex;
   /* justify-content: space-evenly;
    */
    align-items: center;
    flex-direction: column;
}
main .right-side h2 {
    color: #40de63;
    margin: 45px;
}
main .right-side form {
    position: relative;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}
main .right-side form .criar-conta {
    width: 100%;
    text-decoration: none;
    /* text-align: right; */
    position: absolute;
    bottom: -50px;
    left: 100px;
}
main .right-side form input, main .right-side form button {
    background-color: #f5f5f5;
    border: 0;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
}
main .right-side form button {
    background: #40de63;
    cursor: pointer;
    color: #fff;
    font-family: 600;
    font-size: 18px;
}
  
  
@media only  screen and (max-width: 1100px) {
    main .left-side{
        display: none;
    }
    main .right-side{
        margin-left: 0px;
    }
    main .right-side form{
        width: 100%;
    }
main .right-side form .criar-conta {
    /* margin-right: 200px; */
    width: auto;
    bottom: -50px;
    left: 100px;
}
  }