*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html, body{
    font-family: 'Roboto', sans-serif;
  }
  .left-side .change-data{
    color: white;
    text-decoration: none;
    transition: .4s;
    font-size: 14px;
    cursor: pointer;
}
.left-side .change-data:hover{
    font-size: 16px;
    font-weight: bold;
}